@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --dark-background: #1F2937;
    --button: #3882F6;
    --secondary-text: #E5E7EB;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
}
nav li{
    list-style-type: none;
}

/* STYLING PAGE */
.nav-list, .center-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
}
nav .center-nav {
    margin: 0 auto;
    max-width: 1028px;
    min-width: fit-content;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}
.nav-list {
    gap: 23px;
}

nav a {
    display: block;
    padding: 23px 0;
    color: var(--secondary-text);
}
nav a:hover {
    color: white;
    border-bottom: 1px solid white;
}
#hero-section, footer {
    background-color: var(--dark-background);
    color: var(--secondary-text);
}
#hero-section {
    width: 100%;
}
.hero-wrapper {
    height: 535px;
    max-width: 1028px;
    min-width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-wrapper div.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 238px;
    width: 450px;
}
.hero-wrapper h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-wrapper p {
    margin-top: -2px;
}
.hero-wrapper button {
    font-weight: 700;
}
.hero-wrapper .hero-right {
    width: 522px;
    height: 238px;
    background-color: #6d747d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-wrapper .hero-right p {
    color: var(--secondary-text);
    font-weight: 300;
}

#second-section {
    background-color: white;
    width: 100%;
    height: 498px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#second-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#second-section div.gallery {
    display: flex;
    max-width: 825px;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}
.gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 168px;
    gap: 10px;
}
.gallery img {
    width: 168px;
    height: 168px;
    border: 4px solid var(--button);
    border-radius: 16px;
}
.gallery figcaption {
    font-size: 18px;
    font-weight: 300;
    color: black;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.7;
    text-align: center;
}

#third-section {
    background-color: #E5E7EB;
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#third-section blockquote {
    width: 785px;
}
#third-section p.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
#third-section p.author {
    font-weight: 700;
    text-align: right;
    font-size: 24px;
}

#fourth-section {
    width: 100%;
    height: 430px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
#cta {
    width: 1024px;
    height: 150px;
    padding: 0 122px;
    background-color: var(--button);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cta-left {

}
.cta-left h3 {
    color: white;
}
.cta-left p {
    color: var(--secondary-text);
}

footer {
    width: 100%;
    height: 100px;
}
footer p {
    line-height: 100px;
    text-align: center;
    font-weight: 300;
}

button {
    background-color: var(--button);
    color: white;
    padding: 6px 35px;
    border: 2px solid var(--button);
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
}

#fourth-section button {
    border-color: white;
}
