@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    background-color: #1F2937;
}

.hero {
    width: 1024px;
    border: 1px solid blueviolet;
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.logo {
    margin-right: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}